<%= form_for([@announcement, @announcement.images.build], url: announcements_images_path(:announcement_id => @announcement.id)) do |f| %>
    <% if @announcement.errors.any? %>
        <div id="error_explanation">
          <p>
            <%= pluralize(@announcement.errors.count, "error") %> prohibited
            you to add new image:
          </p>
          <ul>
            <% @announcement.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.file_field :image_source, id: 'file-input', class: 'btn btn-default form-control'%>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.submit "Save this image", class: "btn btn-default" %>
      </div>
    </div>
<% end %>
