<div class="recommendations">
  <div class="row" id="most-recent">
    <div class="col-md-12">
      <div class="row recommendation-name page-title">
        <div class="col-md-12">
          <span>Most recent</span>
          <hr>
        </div>
      </div>
      <div class="row recommendation-items">
        <% get_most_recent.first(3).each do |announcement| %>
            <div class="col-md-4">
              <%= render partial: 'recommendation-item', locals: { announcement: announcement } %>
            </div>
        <% end %>
      </div>
      <div class="row recommendation-see-all">
        <div class="col-md-12">
          <%= link_to(pages_most_recent_path) do %>
              <span>Check more...</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" id="most-viewed">
    <div class="col-md-12">
      <div class="row recommendation-name page-title">
        <div class="col-md-12">
          <span>Most viewed</span>
          <hr>
        </div>
      </div>
      <div class="row recommendation-items">
        <% get_most_viewed.first(3).each do |announcement| %>
            <div class="col-md-4">
              <%= render partial: 'recommendation-item', locals: { announcement: announcement } %>
            </div>
        <% end %>
      </div>
      <div class="row recommendation-see-all">
        <div class="col-md-12">
          <%= link_to(pages_most_viewed_path) do %>
              <span>Check more...</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" id="best-rated">
    <div class="col-md-12">
      <div class="row recommendation-name page-title">
        <div class="col-md-12">
          <span>Best rated</span>
          <hr>
        </div>
      </div>
      <div class="row recommendation-items">
        <% get_best_rated.first(3).each do |announcement| %>
            <div class="col-md-4">
              <%= render partial: 'recommendation-item', locals: { announcement: announcement } %>
            </div>
        <% end %>
      </div>
      <div class="row recommendation-see-all">
        <div class="col-md-12">
          <%= link_to(pages_best_rated_path) do %>
              <span>Check more...</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>