<div class="announcement-details">
  <div class="page-title"><span><%= @announcement.title %></span></div>

  <hr>

  <% if logged_in?  and current_user.id == @announcement.user_id %>
      <%= link_to edit_announcements_path(:id => @announcement.id) do %>
          <button class="btn btn-default">Edit announcement</button>
      <% end %>
  <% end %>

  <div class="announcement-images">
    <% if (@announcement.images.count != 0) %>
        <%= carousel_for images_urls(@announcement), @announcement.images, @announcement, current_user %>
        <hr>
    <% elsif logged_in?  and current_user.id == @announcement.user_id %>
        <p class="error">You have no images on this announcement! You can upload up to 5 images.</p>
        <hr>
    <% end %>
  </div>



  <div class="announcement-price">
    <% if @announcement.price_value != nil %>
        <span><%= @announcement.price_value %> <%= @announcement.price_currency %></span>
    <% end %>
  </div>

  <hr>

  <div class="announcement-description">
    <%= simple_format @announcement.description %>
  </div>

  <div class="row">
    <div class="col-md-4 announcement-views">
      <span class="announcement-label">Views:</span>
      <span class="announcement-value"><%= @announcement.clicks %></span>
    </div>
    <div class="col-md-4 announcement-category">
      <span class="announcement-label">Category:</span>
      <span class="announcement-value"><%= @announcement.category.name %></span>
    </div>
    <div class="col-md-4 announcement-validity">
      <span class="announcement-label">Valid to:</span>
      <span class="announcement-value"><%= @announcement.valid_to %></span>
    </div>
  </div>

  <hr>

  <% if logged_in?  and current_user.id == @announcement.user_id %>
      <% if (@announcement.images.count < 5) %>
          <div class="subtitle"><span>Add new image:</span></div>
          <%= render 'images/form'%>
      <% end %>
      <hr>
  <% end %>

  <div class="subtitle"><span>Rate this announcement:</span></div>
  <%= render 'ratings/form' %>

  <hr>

  <% if (@announcement.ratings.count != 0) %>
      <div class="subtitle"><span>Reviews:</span></div>
      <%= render @announcement.ratings %>
  <% end %>
</div>