<!DOCTYPE html>
<html>
<head>
  <title>Announcements</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="row">
    <%= render "layouts/header" %>
  </div>
  <div class="row">
    <p id="notice"><%= flash[:success] %></p>
    <p id="notice"><%= flash[:danger] %></p>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
