<%= form_for(@user, :url => users_edit_password_path(id: @user.id)) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <p>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            you to edit your profile name:
          </p>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :old_password, 'Old password' %><br/>
      <%= f.password_field :old_password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'New password' %><br/>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm new password' %><br/>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= f.submit "Save", class: "btn btn-default" %>
    <%= link_to current_user do%>
        <button class="btn btn-default">Cancel</button>
    <% end %>
<% end %>
