<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            you to sign up:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :username %><br/>
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :firstname %><br/>
      <%= f.text_field :firstname, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :lastname %><br/>
      <%= f.text_field :lastname, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone, "Telephone" %><br/>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm password" %><br/>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <% if logged_in? && current_user.role == "admin" %>
        <div class="form-group">
          <%= f.label :role %><br/>
          <%= f.select :role, User.roles { |r| r }, include_blank: true, class: "form-control" %>
        </div>
    <% end %>

    <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>